<div class="container-fluid">
  <div class="row">
    <!-- <nav class="col-sm-2 col-lg-3 d-md-block sidebar">
      <h6>search</h6>
      <h6>Add</h6>
    </nav> -->
    <div class="card col-sm-6 col-lg-3 flex-grow add-card">
      <div class="add">
        <button class="btn" id="add-cocktail">
          <i class="fas fa-plus fa-2x" id="add-btn"></i>
        </button>
        <div id="cocktail-name" class="d-none">
          <%= simple_form_for @cocktail, html: { class: "dropzone" } do |f| %>
            <%= f.input :name%>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
    <% @cocktails.each do |cocktail| %>
      <div class="card col-sm-6 col-lg-3 flex-grow cocktail-card" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 300, crop: :fill %>')">
        <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to ">", cocktail_path(cocktail.id) %>
      </div>
    <% end %>
  </div>
</div>
